<!-- views/editTask.ejs -->
<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>刪除任務</title>
  </head>
  <body>
    <h2>請刪除任務</h2>
    <form action="/task/<%= getTask.id %>?_method=delete" method="post">
      <button>刪除此任務</button>
    </form>
    <a href="/task">返回主頁</a>
  </body>
</html>
